 *::-webkit-scrollbar-thumb {
	background-color: #maincolor1;
}

a:focus,
a:hover,
.btn-outline-primary,
.btn-link,
.page-link ,
.text-primary ,
.btn-unstyle:focus .expand-more,
.dropdown-item:focus,
.dropdown-item:hover,
.fancybox-success a:hover ,
.bootstrap-datetimepicker-widget .btn.focus,
.bootstrap-datetimepicker-widget .btn:focus,
.bootstrap-datetimepicker-widget .btn:hover,
.ttvcmsmain-menu-wrapper .ttv-header-menu[data-depth="0"] > li.current > .ttvmenu-link-wrapper i,
.ttvcmsmain-menu-wrapper .ttv-header-menu[data-depth="0"] > li.current > .ttvmenu-link-wrapper a span,
.ttvcmsmain-menu-wrapper .ttv-header-menu[data-depth="0"] > li:hover > .ttvmenu-link-wrapper i,
.ttvcmsmain-menu-wrapper .ttv-header-menu[data-depth="0"] > li:hover > .ttvmenu-link-wrapper a span,
.ttvcmsmain-menu-wrapper .ttv-header-menu[data-depth="1"] > li > .ttvmenu-link-wrapper a span:hover,
.ttvmain-menu-wrapper a[data-depth="2"] .ttvmain-menu-text-box:hover,
.ttvheader-top-search-wrapper .ttvheader-search-btn:hover i,
.ttv-account-wrapper .ttv-myaccount-btn:hover span,
.ttv-account-wrapper .ttv-myaccount-btn:hover i,
#ttvcmsdesktop-language-selector .ttv-language-btn:hover i, 
#ttvcmsdesktop-currency-selector .ttv-currency-btn:hover i, 
#ttvcmsdesktop-language-selector .ttv-language-btn:hover .ttv-language-span, 
#ttvcmsdesktop-currency-selector .ttv-currency-btn:hover .ttv-currency-span, 
#ttvcmsdesktop-user-info .ttvhedaer-sign-btn:hover,
#_desktop_wishtlistTop:hover .ttvwishlist-name span,
.ttvcmsdesktop-view-compare:hover .ttvdesktop-view-compare-name,
.ttv-language-dropdown li a:hover, 
.ttv-currency-dropdown li a:hover,
.ttvcms-header-cart:hover .ttv-cart-cart-inner .ttv-cart-title, 
.ttvcms-header-cart:hover .cart-products-count, 
.ttvcms-header-cart:hover .ttvshopping-cart-name,
.ttvcms-header-cart:hover .ttv-cart-cart-inner .cart-products-count,
.ttvcms-header-cart:hover .ttv-cart-cart-inner .ttv-cart-title,
.ttvnews-event-link a:hover,
.ttvallproduct-link a:hover,
.ttvleft-right-penal-all-block .ttvall-product-bottom-link-block a:hover, 
.ttvcmsblog-left-side .ttvnews-event-link a:hover,
.ttvtabs-products li.active span,
.ttvtabs-products li:hover span ,
.ttvproduct-timer-wrapper .seconds,
.ttvemail-send-link:hover,
.ttvfooter-account-link .ttvfooter-link-wrapper li a:hover, 
#footer_sub_menu_ttvfooter_category li a:hover,
#block_myaccount_infos #footer_account_list li a:hover, 
#block_myaccount_infos li a:hover,
.ttvcopylink p:hover,
.block_newsletter .ttvnewsletter-input input[type=text]:focus+button .search,
.block_newsletter .ttvnewsletter-input button[type=submit] .search:hover,
.pagination .current a,
.ttvsearch-dropdown-total-wrapper:hover .ttvsearch-dropdown-total,
.ttvproduct-button-main button:hover i,
.ttvproduct-button-main button:hover,
.ttvmain-slider-contant .ttvmain-slider-title ,
.ttvmain-slider-contant .ttvmain-slider-button:hover,
.ttvcategory-slider-wrapper-info:hover .ttvcategory-slider-info-box .ttvcategory-slider-title,
.ttvcmscustomer-services .ttvservices-center:hover .ttvservices-content-box .ttvservices-title,
.ttvcmstestimonial .ttvtestimonial-designation,
.ttvcms-left-testimonial .ttvtestimonial-designation,
.ttvtestimonial-img-block i,
.ttvcmsofferbanners-one .ttvbannercontent .ttvbanner1-title,
.ttvmultibanner-content h6,
.ttvmultibanner-button:hover {
    color: #maincolor1;
}

.btn-primary:hover,
.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open>.btn-info.dropdown-toggle.focus,
.open>.btn-info.dropdown-toggle:focus,
.open>.btn-info.dropdown-toggle:hover,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:hover,
.open>.btn-outline-primary.dropdown-toggle ,
.btn-outline-info.active.focus,
.btn-outline-info.active:focus,
.btn-outline-info.active:hover,
.btn-outline-info:active.focus,
.btn-outline-info:active:focus,
.btn-outline-info:active:hover,
.open>.btn-outline-info.dropdown-toggle.focus,
.open>.btn-outline-info.dropdown-toggle:focus,
.open>.btn-outline-info.dropdown-toggle:hover,
.dropdown-item.active,
.dropdown-item.active:focus,
.dropdown-item.active:hover,
.nav-pills .nav-item.open .nav-link,
.nav-pills .nav-item.open .nav-link:focus,
.nav-pills .nav-item.open .nav-link:hover,
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover,
.card-primary ,
.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover,
.tag-primary,
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover,
.bg-primary,
.bootstrap-touchspin .group-span-filestyle .btn-touchspin,
.group-span-filestyle .bootstrap-touchspin .btn-touchspin,
.group-span-filestyle .btn-default,
.custom-radio input[type=radio]:checked+span,
.btn-default:hover,
.bootstrap-datetimepicker-widget .datepicker td.active,
.bootstrap-datetimepicker-widget .datepicker td.active:hover,
.select-title option[selected="selected"],
.select-title .js-search-link:hover,
.ttvsearch-more-search:hover,
.ttvheader-top-search-wrapper,
#ttvcmsdesktop-user-info .ttvhedaer-sign-btn i,
.ttvcms-header-cart .ttv-cart-icon,
.owl-theme .owl-dots .owl-dot.active, 
.owl-theme .owl-dots .owl-dot:hover,
.ttvproduct-quick-btn:hover,
.ttvproduct-cart-btn:hover,
.ttvproduct-wishlist-btn:hover,
.ttvproduct-compare-btn:hover,
.ttvproduct-cart-btn:hover .ttvproduct-add-to-cart,
#products.list .ttvproduct-cart-btn-list .ttvproduct-add-to-cart:hover,
#products.list-2 .ttvproduct-cart-btn-list .ttvproduct-add-to-cart:hover,
#products.catalog .ttvproduct-catalog-btn-wrapper .ttvproduct-add-to-cart:hover,
.ttvproduct-quick-btn:hover .ttvproduct-quick-icon,
#products.list .ttvproduct-quick-btn:hover .ttvproduct-quick-icon,
#products.list-2 .ttvproduct-quick-btn:hover .ttvproduct-quick-icon,
#products.catalog .ttvproduct-quick-btn:hover .ttvproduct-quick-icon,
.ttvproduct-wishlist-btn:hover .ttvproduct-wishlist,
#products.list .ttvproduct-wishlist-btn-list .ttvproduct-wishlist:hover,
#products.list-2 .ttvproduct-wishlist-btn-list .ttvproduct-wishlist:hover,
#products.catalog .ttvproduct-wishlist-catalog-btn .ttvproduct-wishlist:hover ,
.ttvproduct-compare-btn:hover .ttvproduct-compare,
#products.list .ttvproduct-compare-btn-list .ttvproduct-compare:hover,
#products.list-2 .ttvproduct-compare-btn-list .ttvproduct-compare:hover,
#products.catalog .ttvproduct-compare-catalog-btn .ttvproduct-compare:hover,
.ttvproduct-cart-quentity-increment:hover, 
.ttvproduct-cart-quentity-decrement:hover,
.ttvnewsleteer-btn-wrapper:hover .ttvnewslatter-btn-title,
.ttvbottom-to-top,
.ttv-innerpage-button:hover ,
.ttvsearch-more-search:hover,
.ttvcart-product-list-checkout:hover,
.ttvcart-product-list-viewcart:hover,
.pagination .ttv-pagination-wrapper .ttv-pagination-li.active ,
.pagination .ttv-pagination-wrapper .ttv-pagination-li:hover,
.ttvtabs li.active a:before,
#products.grid .ttvproduct-view.ttvproduct-grid,
#products.grid-2 .ttvproduct-view.ttvproduct-grid-2,
#products.list .ttvproduct-view.ttvproduct-list,
#products.list-2 .ttvproduct-view.ttvproduct-list-2,
#products.catelog .ttvproduct-view.ttvproduct-catelog,
.ttvcms-left-column-wrapper .ttv-left-pannal-btn-wrapper:hover,
.ttvcmsproduct-grid-list .ttvproduct-view:hover,
.ttv_search_filter_wrapper .ttvleft-right-title-wrapper:hover,
.box input:checked + label,
.ttvcmstheme-control .ttvtheme-control-icon:hover,
.ttvtheme-control-wrapper .ttvtheme-option .btn-primary,
.ttvtheme-control-wrapper .ttvtheme-control-reset:hover,
.ttvcmstheme-control .ttvtheme-control-wrapper .ttvselect-theme select option:hover,
.ttvblog-event-all-content-block .ttvnews-event-read-more a:hover,
.ttvblob-all-submit-btn .ttvcmsblog_submit_btn:hover,
.ttvcmscustomer-services .ttvservices-center:hover .ttvservices-1 .ttvservices-img,
.ttvcmscustomer-services .ttvservices-center:hover .ttvservices-2 .ttvservices-img,
.ttvcmscustomer-services .ttvservices-center:hover .ttvservices-3 .ttvservices-img,
.ttvcmscustomer-services .ttvservices-center:hover .ttvservices-4 .ttvservices-img,
.ttvcmscustomer-services .ttvservices-center:hover .ttvservices-5 .ttvservices-img,
.ttvcmsofferbanners-one .ttvbannercontent .ttvbanner1-btn a,
.ttvmultibanner-button {
	background-color: #maincolor1;
}

.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open>.btn-info.dropdown-toggle.focus,
.open>.btn-info.dropdown-toggle:focus,
.open>.btn-info.dropdown-toggle:hover,
.btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:hover,
.open>.btn-outline-primary.dropdown-toggle,
.btn-outline-info.active.focus,
.btn-outline-info.active:focus,
.btn-outline-info.active:hover,
.btn-outline-info:active.focus,
.btn-outline-info:active:focus,
.btn-outline-info:active:hover,
.open>.btn-outline-info.dropdown-toggle.focus,
.open>.btn-outline-info.dropdown-toggle:focus,
.open>.btn-outline-info.dropdown-toggle:hover,
.card-primary,
.card-outline-primary,
.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover,
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover,
.ttv-innerpage-button:hover {
	border-color: #maincolor1
}

.ttvtabs-products li.active,
.ttvtabs-products li:hover {
    border-bottom: 1px solid #maincolor1;
} 

.ttvservices-center:hover .ttvall-block-box-shadows,
.ttvcmsofferbanners-one .ttvbannercontent .ttvbanner1-btn a,
.ttvmultibanner-button{
    border: 1px solid #maincolor1;
}

.ttvtestimonial-inner-content-box .ttvtestimonial-img-block img{
    border: 2px solid #maincolor1;
}
@media (max-width: 991px) {
    #ttvcms-mobile-view-header .ttvmenu-button i {
        background-color: #maincolor1;
    }
} 
