<div class="ttvcmsleft-offer-banner">
	<div class="ttvbanner-hover-wrapper">
		<div class="ttvbranner-hover-info-box"></div>
		<div class="ttvbanner-hover"></div>
		<img src="{{ image }}" alt="{{ image }}">
		<div class="ttvbanner-hover1"></div>
	</div>
</div>